@media only screen and (max-width: 1057px) {
    #pokemon-sidelist{
        max-width: 47rem;
    }
}

@media only screen and (max-width: 768px) {
    body{
        justify-items: center;
    }

    .pokemon{
        background-position: 7rem 1.16rem!important;
    }
}

@media only screen and (max-width: 735px) {
    .pokemon{
        max-width: 18rem!important;
        background-position: 7rem 1.3rem!important;
    }
    
    #pokemon-sidelist{
        max-width: 41rem;
    }
}

@media only screen and (max-width: 671px) {
    .pokemon{
        max-width: 16rem!important;
    }

    .pokemons .detail img {
        height: 12rem!important;
        margin: 0 0 0 0rem!important;
    }

    #pokemon-sidelist{
        max-width: 37rem;
    }
}

@media only screen and (max-width: 607px) {
    .pokemon{
        max-width: 27rem!important;
        margin-bottom: 1rem!important;
        background-position: 9rem 1rem!important;
    }

    .pokemons .detail img {
        height: 12rem!important;
        margin: 0 0 0 2rem!important;
        padding-bottom: 1rem;
    }

    #pokemon-sidelist{
        max-width: 30rem;
    }
}

@media only screen and (max-width: 480px) {
    body{
        justify-items: center;
        background-color: color(srgb 0.73 0.86 0.83)!important;
    }
}

@media only screen and (max-width: 375px) {
    .pokemons .detail img {
        height: 12rem!important;
        margin: 0 0 0 1rem!important;
        padding-bottom: 1rem;
    }
}
